<!doctype html>
<html ng-app="todoApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="todo.js"></script>
    <link rel="stylesheet" href="todo.css">
  </head>
  <body>
    <div id="myDIV" class="header">

    <h2 style="margin:5px">ToDo</h2> 
  </div>

    <div ng-controller="TodoListController as todoList">
      
      <span style="margin:50px">{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
      [ <a href="" ng-click="todoList.archive()">Archive</a> ]
      [ <a href="" ng-click="todoList.retrieve()">Retrieve</a> ]

      <ul class="unstyled">
        <li ng-repeat="todo in todoList.todos">
          <input type="checkbox" ng-model="todo.done">
          <span class="done-{{todo.done}}">{{todo.text}}</span>
        </li>
      </ul>
      <form ng-submit="todoList.addTodo()">
        <input style="margin:50px" type="text" ng-model="todoList.todoText"  size="50"
               placeholder="Add a task here!">
        <input class="addBtn" type="submit" value="add">
      </form>
    </div>
  </body>
</html>